.btn {
    background-color: #cea135;
    color: #11122b;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid #11122b;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
    width: 100%;
    max-width: 150px;
}

.btn:active {
    box-shadow: 5px 5px 50px rgba(0, 0, 0, .4);
}    
.centered-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
